@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
	font-family:"Architects Daughter", cursive, consolas;
}

.Header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	
	padding-top:10px;
	padding-left:2%;
	
	background-color:black;
	color:white;
	font-size:2em;
	font-weight:bold;
}
.Header .Credits {
	position:absolute;
	bottom:0;
	right:0;
	padding-right:2%;
	font-size:50%;
	font-family:consolas;
}
.Credits span {
	color:orange;
}



#GameBoard {
	margin:100px auto 0 auto;
	width:450px;
	height:450px;
	text-align:center;
	
	border:22px solid #F4A460;
	border-radius:10px;
	background-color:#3B653D;
	
	box-shadow:0 0 40px 1px gray;
}
#GameBoard * {
	font-family:inherit;
	font-weight:bold;
	color:white;
}
#GameBoard button {
	cursor:pointer;
	font-size:inherit;
	font-style:italic;
	
	background-color:transparent;
	border:none;
}



#PlayScreen table {
	position:relative;
	width:100%;
	height:94.5%;
	
	border-collapse:collapse;
	font-weight:bold;
	font-size:2.5em;
}
#PlayScreen td {
	border:10px solid white;
}
#PlayScreen tr:first-child td {
	border-top:0;
}
#PlayScreen tr:last-child td {
	border-bottom:0;
}
#PlayScreen tr td:first-child {
	border-left:0;
}
#PlayScreen tr td:last-child {
	border-right:0;
}

#GameInfo
{
	letter-spacing:2px;
	border-bottom:2px solid white;
}

.OptionScreen {
	font-size:2.5em;
}




.FullSize {
	width:100%;
	height:100%;
}
.Disabled {
	display:none;
}
.VerticalCenter {
	position:relative;
	top:50%;
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}





